<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>注册</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="stylesheet" href="static/css/amazeui.css" />
		<link href="static/css/dlstyle.css" rel="stylesheet" type="text/css">
		
		<link rel="stylesheet" href="static/css/bootstrap.min.css" />
		<!-- 引入 layui.css -->
		<link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
		<!-- 引入 layui.js -->
		<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
	</head>

	<body>

		<div class="login-boxtitle" style="height: 100px;">
			<div class="logoBig">
				<img src="static/images/logo.jpg" style="margin-left: 0px ; height: 100px;">
			</div>
		</div>

		<div class="login-banner" style="background: rgb(142,213,21);">
			<div class="login-main">
				<div class="login-banner-bg"><span></span><img width="400"  src="static/images/act2.png" /></div>
				<div class="login-box" id="container">

					<h3 class="title">用户注册</h3>
					<h5 :style="colorStyle" id="tips">{{tips}}</h5>

					<div class="clear"></div>

					<div class="login-form" style="background: none;">
						<form>
							<div class="user-name">
								<label for="user"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></label>
								<input type="text" v-model="user.username" placeholder="请输入手机号">
							</div>
							<div class="user-pass" style="margin-top: 13px;">
								<label><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></label>
								<div class="input-container">
									<input v-model="codeText"  placeholder="请输入验证码" class="short-input">
									<button type="button" :disabled="isButtonDisabled" @click="code">
										{{ isButtonDisabled ? countdown + 's' : '发送验证码' }}
									</button>
								</div>
							</div>
							<div class="user-pass" style="margin-top: 13px;">
								<label for="password"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></label>
								<input type="password" v-model="user.password"  placeholder="请输入密码">
							</div>
							<div class="user-pass" style="margin-top: 13px;">
								<label for="password"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></label>
								<input type="password" v-model="password2"  placeholder="请再次输入密码">
							</div>
						</form>
					</div>

					<div class="login-links">
						<br />
					</div>
					<div class="am-cf">
						<input type="submit" @click="submit" value="提交注册" class="am-btn am-btn-primary am-btn-sm">
					</div>
					<div  class="am-cf"	>
						<input type="submit" @click="login" value="已有账号" class="am-btn am-btn-primary am-btn-sm">
					</div>
					<div class="partner">
						
					</div>

				</div>
			</div>
		</div>

		<div class="footer ">
			<div class="footer-hd ">

			</div>
			<div class="footer-bd ">
				<p>
					<a>联系电话：15307426805</a>
				</p>
			</div>
		</div>
		<script type="text/javascript" src="static/js/jquery-1.9.min.js"></script>
		<script type="text/javascript" src="static/js/vue.js"></script>
		<script type="text/javascript" src="static/js/axios.min.js"></script>
		<script type="text/javascript" src="static/js/baseUrl.js"></script>
		<script type="text/javascript" src="static/js/utils.js"></script>
		<script type="text/javascript" src="static/js/cookie_utils.js"></script>
		<script type="text/javascript">
			//弹窗
			var layer;
			layui.use('layer', function(){
				layer = layui.layer;
			});

			var vm = new Vue({
				el:"#container",
				data:{
					user:{
						username:"",
						password:""
					},
					password2:"",
					tips:"",
					colorStyle:"color:red",
					codeText:"",
					realCode:"",
					isButtonDisabled: false,  // 按钮是否被禁用
   					countdown: 30  // 倒计时时间，单位为秒
				},
				methods:{
					submit:function(){
						var realCode = getCookieValue("code");
						var math = /^[A-Za-z0-9]+$/;  //只能输入数字和字母
						if(!checkTelephone(vm.user.username)){
							vm.tips = "请正确输入手机号！";
						}else if(this.codeText != realCode || !math.test(this.codeText)){
							vm.tips = "验证码错误!";
						}else{
							if(vm.user.password == ""){
								vm.tips = "请输入密码！";
							}else if(vm.user.password.length<6 || vm.user.password.length>12){
								vm.tips = "密码长度必须为6-12个字符";
							}else if(!math.test(vm.user.password)){
								vm.tips = "密码只能由数字和字母组成！";
							}else{
								if(vm.password2 == "" || vm.user.password != vm.password2){
									vm.tips = "请确认密码！";
								}else{
									vm.tips = "";
									var url = baseUrl + "user/register";
									axios({
										method:"post",
										url:url,
										data:vm.user
									}).then((res)=>{
										var vo = res.data;
										if(vo.code == 10000){
											vm.tips = "恭喜您，注册成功！";
											vm.colorStyle = "color:green";
											setTimeout(function(){
												window.location.href = "login.html";
											},2000)
										}else{
											vm.tips = vo.msg;
										}
									});
								}
							}
						}
					},
					code:function(){
						if(!checkTelephone(vm.user.username)){
							vm.tips = "请正确输入手机号！";
						}else{
							vm.tips="";	
							var url = baseUrl + "sms/send/" + this.user.username;
							axios({
								method:"get",
								url:url,
							}).then((res)=>{
								if(res.data.code == 10000){
									this.realCode = res.data.data;
									layer.msg("验证码已发送");
									this.isButtonDisabled = true;  // 禁用按钮
									setCookieValue2("code",this.realCode);  //将验证码存入cookie,并设置过期时间为3m后
									this.countdown = 30;  //初始化
									// 启动计时器
									const timer = setInterval(() => {
										this.countdown--;  // 每秒减少倒计时时间
										if (this.countdown <= 0) {
											// 倒计时结束，重新启用按钮并清除计时器
											this.isButtonDisabled = false;
											clearInterval(timer);
										}
									}, 1000);  // 每秒执行一次计时器
								}else{
									layer.msg(res.data.msg);
								}
							});
						}
					},
					login:function(){
						window.location.href = "login.html";
					}
				}
			});
		</script>

		<style>
			/* CSS 样式代码 */
			.input-container {
				display: flex;
				align-items: center; /* 垂直居中对齐 */
			}
			.short-input {
				width: 225px; /* 设置验证码输入框的宽度为 100px */
			}

			.input-container input {
				margin-right: 5px; /* 设置验证码输入框和按钮之间的间距 */
			}

		</style>

	</body>

</html>